# Virtual Enviroment

venv/
env/
*.venv

# Logs
*.log


# Django migrations (optional: you may want to include migrations)

*/migrations/*pyc
*/migrations/*.pyc
*/migrations/__pycache__/

# Git

.git/
.gitignore