# version: "3.9"

# services:
#   web:
#     build: .
#     container_name: blog_app
#     command: python manage.py runserver 0.0.0.0:8000
#     volumes:
#       - .:/BlogApp         # Mount your local code for live reload
#     ports:
#       - "8000:8000"        # Map container port 8000 to host
#     env_file:
#       - ./.env             # Optional: load environment variables
#     environment:
#       PYTHONDONTWRITEBYTECODE: 1
#       PYTHONUNBUFFERED: 1
#     depends_on:
#       - db                 # Optional, only if you use Postgres

#   db:
#     image: postgres:15
#     container_name: blog_db
#     environment:
#       POSTGRES_DB: ${POSTGRES_DB}
#       POSTGRES_USER: ${POSTGRES_USER}
#       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#     ports:
#       - "5433:5433"
#     volumes:
#       - postgres_data:/var/lib/postgresql/data/

# volumes:
#   postgres_data:


version: '3.9'

services:
  db:
    image: postgres:15
    container_name: blog_db
    environment:
      POSTGRES_DB: blogdb
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass

    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog_app
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/BlogApp
    ports:
      - "8001:8001"
    depends_on:
      - db
    environment:
      POSTGRES_DB: blogdb
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    restart: always

volumes:
  postgres_data:

