version: '3.9'

services:
  db:
    image: postgres:15
    container_name: blog_db
    environment:
      POSTGRES_DB: blogdb
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass

    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env.prod
    container_name: blog_app
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/BlogApp
      - media_data:/BlogApp/media/
    ports:
      - "8001:8001"
    depends_on:
      - db
    environment:
      POSTGRES_DB: blogdb
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    restart: always

volumes:
  postgres_data:
  media_data:

