version: '3.9'

services:

  redis:
    image: redis:7
    ports:
      - "6378:6379"
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog_app
    # env_file:
    #   - .env.prod
    command: gunicorn BlogProject.wsgi:application --bind 0.0.0.0:8001 --workers 3
    volumes:
      - .:/BlogApp
      - media_data:/BlogApp/media/
    ports:
      - "8001:8001"
    depends_on:
      - redis

    restart: always

  celery:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A BlogProject.celery worker -l info
    container_name: celery_worker
    volumes:
      - .:/BlogApp
      - media_data:/BlogApp/media/
    depends_on:
      - redis
    # env_file:
    #   - .env.prod
    restart: always

  celery-beat:
    build:
      context: .
      dockerfile: Dockerfile
    command: celery -A BlogProject.celery beat -l info
    container_name: celery_beat
    volumes:
      - .:/BlogApp
      - media_data:/BlogApp/media/
    depends_on:
      - redis
    # env_file:
    #   - .env.prod
    restart: always

volumes:
  static_data:
  media_data:
