version: '3.9'

services:
  db:
    image: postgres:15
    container_name: blog_db
    environment:
      POSTGRES_DB: blogdb
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog_app
    env_file:
      - .env.prod            # Load Gmail SMTP vars here
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/BlogApp
      - media_data:/BlogApp/media/
    ports:
      - "8001:8001"
    depends_on:
      - db
    environment:
      POSTGRES_DB: blogdb
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432

      # These override OR confirm .env.prod values
      EMAIL_BACKEND: django.core.mail.backends.smtp.EmailBackend
      EMAIL_HOST: smtp.gmail.com
      EMAIL_PORT: 587
      EMAIL_USE_TLS: "True"
      # These must come from .env.prod
      # EMAIL_HOST_USER: ${EMAIL_HOST_USER}
      # EMAIL_HOST_PASSWORD: ${EMAIL_HOST_PASSWORD}

    restart: always

volumes:
  postgres_data:
  media_data:
