version: '3.9'

services:
  db:
    image: postgres:15
    container_name: blog_db
    environment:
      POSTGRES_DB: blogdb
      POSTGRES_USER: bloguser
      POSTGRES_PASSWORD: blogpass
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:7
    ports:
      - "6378:6379"
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: blog_app
    env_file:
      - .env.prod
    command: python manage.py runserver 0.0.0.0:8001
    volumes:
      - .:/BlogApp
      - media_data:/BlogApp/media/
    ports:
      - "8001:8001"
    depends_on:
      - db
      - redis

    restart: always

  celery:
    build: .
    command: celery -A BlogProject.celery worker -l info
    container_name: celery_worker
    volumes:
      - .:/BlogApp
      - media_data:/BlogApp/media/
    depends_on:
      - db
      - redis
    env_file:
      - .env.prod
    restart: always

  celery-beat:
    build: .
    command: celery -A BlogProject.celery beat -l info
    container_name: celery_beat
    volumes:
      - .:/BlogApp
      - media_data:/BlogApp/media/
    depends_on:
      - db
      - redis
    env_file:
      - .env.prod
    restart: always

volumes:
  postgres_data:
  media_data:
