{% extends "layout.html" %}

{% block title %}profile Page{% endblock title %}

{% block content %}

<h3>User Profile</h3>
<div class="card">
    <div class="card-body row">
        <div class="col-2 d-flex justify-content-center align-items-center" style="width: 200px; height: 200px;">
            {% if profile.user_image %}
            <img class="rounded" src="{{ profile.user_image.url }}">
            {% else %}
            <p>upload image...</p>
            {% endif %}
        </div>

        <div class="col-10">
            <div style="display: flex; justify-content: space-between;">
                <h3>{{ user.username }}</h3>
                <p>Email: {{ user.email }}</p>
            </div>
            <p>Bio: {{ profile.bio }}</p>
            <a class="btn btn-outline-secondary" href="{% url 'profile-edit' pk=user.pk %}">Edit</a>
        </div>
    </div>
</div>

<hr>

<div class="card">
    <div class="card-body">
        <div style="display: flex; justify-content: space-between;">
            <div>
                <h2>My Posts:</h2>
            </div>
            <div>
                <a class="btn btn-success" href="{% url 'post-create' pk=user.pk %}">
                    Add Post
                </a>
            </div>
        </div>
        <div>
            {% for post in user.posts.all %}
            <ul class="list-group">
                <li class="list-group-item mt-2">
                <a class="text-dark" href="{% url 'post-detail' pk=post.pk %}">{{post.title}} - ({{post.created_at}})</a>
                </li>
            </ul>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock content %}