{% extends "layout.html" %}
{% load widget_tweaks %}

{% block title %}Add Posts{% endblock title %}

{% block content %}

<form method="post">

    {% csrf_token %}
    <div class="mb-3">
        <label>{{form.title.label_tag}}</lable>
        {{ form.title|add_class:"form-control"|attr:"placeholder:Write Title here..." }}
    </div>
    <div class="mb-3">
        <lable>{{form.content.label_tag}}</lable>
        {{ form.content|add_class:"form-control"|attr:"placeholder:Write Post..." }}
    </div>
    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock content %}