{% extends "layout.html" %}

{% block title %}Posts{% endblock title %}

{% block content %}

<div class="card">
    <div class="card-body">
        <h1>Post list</h1>
        {% if posts %}
            {% for post in posts %}
                <ul class="list-group">
                    <li class="list-group-item mt-2">
                        <a class="text-dark" href="{% url 'post-detail' pk=post.pk %}"><strong>{{ post.title }} - {{ post.author.username }} </strong></a> ({{ post.created_at }})
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <p>No post found.</p>
        {% endif %}
    </div>
</div>

{% endblock content %}